@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.user-btn{
  float: right;
  right: 15px;
  position:absolute;
}
#mySearch{
  border-radius:25px;
}
.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 80px;
}

.stars-container:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '♥♥♥♥♥';
  color:lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '♥♥♥♥♥';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100%;}
.dropdown-menu{
  font-size:12px;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.has-search{
    margin-left:15px !important;
    margin-top:1rem !important;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
 input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
  .sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  background-color: #dfdfdf;
  overflow-x: hidden;
  padding-top: 2px;
  vertical-align:midline;
}

.sidenav h6 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  height:18%;
  border-bottom:2px solid #818181;
  border-collapse:collapse;

}
.checked{
  color:orange;
  font-size:30px;
  padding:0px 2px 0px 2px;
}
.padding-image{
  margin-top:5%;
}
.sidenav h6:hover {
  color: black;
 
}
 .sidenav h6 i.fa {
 display:none;
}
.sidenav h6:hover i.fa {
 float:right;
 display:block;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav h6 {font-size: 18px;}
}
